.card {
    background-color: rgba(1, 44, 70, 0.681);
    color: rgba(255, 255, 255, 0.776);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 0.15em solid #ccc;
    display: inline-block;
    flex: 0 0 auto;
    margin: 0.2em;
    padding: 0.4em;
    width: 11%;
    vertical-align: top;
    text-align: center; 
}

.cards-container {
    display: flex;
    overflow-x: auto; /* Abilita lo scorrimento orizzontale */
    white-space: nowrap; /* Evita che gli elementi vadano a capo */
}

.header {
    padding: 0.2em;
    font-size: 0.68em;
}

.set-scores {
    font-size: 0.65em;
    color: white;
    margin-left: 1em;
    font-style: oblique;
}

.body {
    padding: 0.22em;
    font-size: 0.49em;
}

.data {
    font-size: 0.2em;
    font-weight: bold;
}

.torneo {
    font-size: 1.3em;
}

.turno {
    font-size: 0.3em;
}

.versus {
    font-size: 1.4em;
    font-style: oblique;
}

.surface {
    background-color: #33393c;
    padding: 0.23em;
    font-size: 1em;
    margin-left: 0.46em;
    margin-right: 0.46em;
}

.footer {
    background-color: #f2f2f2;
    padding: 0.33em;
    font-size: 0.33em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.set {
    margin-top: 10px;
    padding: 0.3em;
    font-weight: bold;
    font-size: 0.65em;
    border-radius: 0.85em;
}

/* Modifica le regole per il layout dei giochi */
.game {
    display: flex;
    align-items: center;
    margin-top: 0.25em;
    background-color: #444;
    color: #ddd;
    padding: 0.2em;
    padding-left: 0.44em;
    border-radius: 0.36em;
    font-size: 0.5em;
}

.game-score {
    color: #f2f2f2;
    font-weight: bold;
    font-size: larger;
    flex-grow: 1;
    text-align: left; 
}

.serve-receive {
    text-align: right; 
    margin-left: 0.1em;
}

.break-point-container {
    display: flex;
}

.break-point {
    display: inline-block;
    width: 0.5em; 
    height: 0.5em;
    border-radius: 50%;
    margin-left: 3px;
}

.break-point.red {
    background-color: rgba(255, 0, 0, 0.504);
}

.break-point.green {
    background-color: rgba(0, 255, 0, 0.52);
}

.break-win {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    background-color: rgb(30, 194, 30);
    border-radius: 50%;
    margin-left: 5px;
}

.break-loss {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    background-color: rgb(189, 32, 32);
    border-radius: 50%;
    margin-left: 5px;
}


/* Nascondi i punti del tiebreak */
.tiebreak {
    background-color: rgb(205, 200, 50);
    color: #ffffff;
    padding: 0.3em;
    font-weight: bold;
    font-size: 0.65em;
    border-radius: 0.85em;
    margin-top: 0.33em;
}

/* Nascondi i punti del tiebreak */
.tiebreak-point.hidden {
    display: none;
}


.stats-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 0.15em; 
    text-align: left; 
    padding: 0.1em;
    background-color: #33393cb4;
    color: white;
    border-radius: 0.22em;
}

.stat-name, .player-stat-value {
    padding: 0.22em; 
    border: 0.1em solid white;
    border-radius: 0.29em;
    font-size: 0.5em;
}

.player-stat-value {
    background-color: #4C4C4C; 
}

.match-result-win .header {
    background-color: rgba(0, 128, 0, 0.757);
    color: white; /* Per rendere il testo leggibile su sfondo verde */
}

.match-result-loss .header {
    background-color: rgba(255, 0, 0, 0.737);
    color: white; /* Per rendere il testo leggibile su sfondo rosso */
}

.set-result-win {
    background-color: lightgreen;
    color: black; /* Per rendere il testo leggibile su sfondo verde chiaro */
}

.set-result-loss {
    background-color: lightcoral;
    color: black; /* Per rendere il testo leggibile su sfondo rosso chiaro */
}

.manual-stats-container {
    display: none;
}

.stato {
    display: none;
}
